.row.vertically-centered
  .large-centered.large-6.columns.content

    h1 Sign up


    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

      div = f.email_field :email, autofocus: true

      div = f.password_field :password, autocomplete: "off"

      div = f.password_field :password_confirmation, autocomplete: "off"

      .text-right
        = f.submit "Sign up", class: 'small button'


    = render "devise/shared/links"
