form#new_specimen {
  .button.cancel {
    margin-right: 1em;
  }
}

.specimen {
  padding-top: 1.5em;
  padding-bottom: 1em;


  .pathology-number, .date-submitted {
    color: $background-color-more-contrast;
    font-size: 0.9em;
    margin-top: 0.2em;

    dt:after {
      content: ":";
    }
    dd, dt { display: inline; }
  }
  .description {
    dt { display: none; }
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
  }
  .legacy-info {
    font-size: 0.5em;
    color: $background-color-more-contrast;
    a {
      color: $background-color-more-contrast;
      &:hover {
        font-style: italic;
      }
    }
  }
}

