nav.top-bar {
  background-color: $top-nav-background-color;
  li#login-status {
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    padding: 0.5em;
  }
  li.admin > a {
    background-color: #961c00;
  }
}
